.user-reset-password-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.user-reset-password-header {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.user-reset-password-heading {
  width: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: column;
}
.user-reset-password-hero {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 0px;
  position: relative;
  max-width: 100%;
  align-items: center;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffcc33;
}
.user-reset-password-content {
  gap: 0;
  width: 100%;
  height: 100%;
  display: flex;
  padding: 0px;
  z-index: 20;
  position: relative;
  align-self: flex-start;
  box-shadow: 5px 5px 10px 0px #d4d4d4;
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #373542;
  border-top-left-radius: var(--dl-radius-radius-radius8);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-left-radius: var(--dl-radius-radius-round);
  border-bottom-right-radius: var(--dl-radius-radius-radius8);
}
.user-reset-password-container1 {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.user-reset-password-container2 {
  width: 100%;
  display: flex;
  align-self: center;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
}
.user-reset-password-title {
  color: rgb(255, 204, 51);
  width: 100%;
  padding: 0px;
  font-size: 48px;
  align-self: flex-start;
  font-style: normal;
  margin-top: var(--dl-space-space-twounits);
  text-align: center;
  font-family: Inter;
  font-weight: 600;
  line-height: 76px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
}
.user-reset-password-container3 {
  width: 500px;
  height: auto;
  display: flex;
  align-self: center;
  margin-top: var(--dl-space-space-unit);
  align-items: center;
  padding-top: 0px;
  border-color: #000000;
  border-width: 2px;
  border-radius: var(--dl-radius-radius-radius4);
  flex-direction: column;
  justify-content: flex-start;
  background-color: #ffffff;
}
@media(max-width: 991px) {
  .user-reset-password-hero {
    flex-direction: column;
  }
  .user-reset-password-content {
    gap: var(--dl-space-space-unit);
    flex: 0 0 auto;
    padding-top: var(--dl-space-space-unit);
    padding-bottom: 0px;
  }
  .user-reset-password-title {
    font-size: 50px;
    text-align: left;
    line-height: 58px;
  }
}
@media(max-width: 767px) {
  .user-reset-password-title {
    font-size: 40px;
    line-height: 48px;
  }
}
@media(max-width: 479px) {
  .user-reset-password-header {
    height: 100%;
  }
  .user-reset-password-hero {
    height: auto;
  }
  .user-reset-password-content {
    width: 100%;
    height: auto;
    padding: var(--dl-space-space-unit);
  }
  .user-reset-password-container1 {
    margin: 0px;
    border-bottom-width: 0px;
  }
  .user-reset-password-container3 {
    width: 100%;
    padding: 0px;
  }
}
