.user-new-password-container {
  display: flex;
  position: relative;
}
.user-new-password-form {
  gap: 0;
  width: 500px;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: var(--dl-color-gray-black);
  border-width: 1px;
  border-radius: var(--dl-radius-radius-radius8);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-unit);
  background-color: #ffffff;
}
.user-new-password-container1 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  margin: 0px;
  display: flex;
  align-items: flex-start;
  padding-left: 0px;
  flex-direction: row;
}
.user-new-password-text {
  color: rgb(0, 0, 0);
  width: 100%;
  height: auto;
  font-size: 16px;
  align-self: flex-start;
  text-align: left;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
}
.user-new-password-container2 {
  flex: 0 0 auto;
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  margin-top: 0px;
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.user-new-password-text1 {
  color: rgb(0, 0, 0);
  width: 100%;
  height: 100%;
  font-size: 16px;
  align-self: flex-start;
  font-style: normal;
  text-align: left;
  font-weight: 700;
  padding-top: var(--dl-space-space-halfunit);
  padding-left: var(--dl-space-space-unit);
  margin-bottom: var(--dl-space-space-halfunit);
  padding-right: var(--dl-space-space-unit);
}
.user-new-password-container3 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.user-new-password-container4 {
  flex: 0 0 auto;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
  padding-left: var(--dl-space-space-unit);
  padding-right: var(--dl-space-space-unit);
  flex-direction: column;
}
.user-new-password-textinput {
  width: 100%;
  height: 100%;
  border-color: #c1c1c1;
}
.user-new-password-container5 {
  flex: 0 0 auto;
  width: 100%;
  height: var(--dl-size-size-small);
  display: flex;
  margin-top: var(--dl-space-space-unit);
  align-items: flex-start;
  margin-left: 0px;
  margin-right: 0px;
  padding-left: 0px;
  margin-bottom: 0px;
  padding-right: var(--dl-space-space-unit);
  flex-direction: row;
  justify-content: flex-end;
}
.user-new-password-button {
  color: #ffffff;
  width: auto;
  height: 100%;
  text-align: center;
  border-width: 0px;
  padding-right: var(--dl-space-space-unit);
  background-color: #04aa6d;
}
.user-new-password-root-class-name {
  width: 100%;
}
